section#hero-section {
    min-height: 100vh;

    @media screen and (max-width:468px) {
        background: url('./../../src/img/dobra_1/bg_hero_mobile.webp');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 0rem;
        background-position-x: right;
    }

    @media screen and (min-width:468px) {
        background: url('./../../src/img/dobra_1/bg_hero_mobile.webp');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 0rem;
        background-position-x: right;
    }

    @media screen and (min-width:768px) {
        background: url('./../../src/img/dobra_1/bg_hero_mobile.webp');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: 0rem;
        background-position-x: right;
    }

    @media screen and (min-width:1024px) {
        background: url("./../../src/img/dobra_1/img_hero.webp");
        background-position-x: 22rem;
        background-position-y: -1rem;
        background-repeat: no-repeat;
        background-size: cover;
    }



    .container {


        @media screen and (max-width:468px) {
            padding-top: 62%;
        }

        @media screen and (min-width:468px) {
            padding-top: 25%;
        }

        @media screen and (min-width:768px) {
            padding-top: 10%;
        }

    }

    // .row {
    //     width: 100%;
    // }

    h2 {
        // font-family: Good Timing;
        font-size: 50px;
        font-weight: 700;
        line-height: 48.86px;
        text-align: left;
        color: var(--white);

        @media screen and (max-width:500px) {
            font-size: 44px;
        }
    }

    p {
        font-size: 18.1px;
        font-weight: 400;
        line-height: 29.08px;
        text-align: left;
        color: var(--gray);

        @media screen and (min-width:768px) {
            // width: 450px;
        }
    }

    a.btn.acount {
        // background: var(--bg-btn);
        // box-shadow: var(--box-shadow-btn);
        color: var(--black);
        border: 1px solid var(--white);
        background: var(--green);
        box-shadow: 0px 7px 48.92px 1px var(--green-shadow);
        // font-family: Good Timing;
        font-size: 18px;
        font-weight: 700;
        line-height: 23.4px;
        text-align: center;
        border-radius: 7.24px;
        padding: 16px 10px;
        transition: all .5s ease;
        width: 100%;

        &:hover {
            transform: scale(1.1);
        }
    }

    @keyframes piscar {

        0%,
        100% {
            opacity: 1;
            r: 3.76074;
        }

        50% {
            opacity: 0.3;
            r: 6.24609;
        }
    }

    .bolinha {
        fill: var(--green);
        animation: piscar 1s infinite;
    }


    @keyframes pulse {
        0% {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }

        50% {
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
        }

        100% {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
    }

    .shadow-efect {
        animation: pulse 2s infinite;
        fill: #3FD88F;
    }



    // .shadow-efect {
    //     fill: #131313;
    // }

    .status-indicator {
        display: flex;
        align-items: center;
        // background-color: #000;
        border: 2px solid #20c997;
        color: #20c997;
        padding: 8px 16px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: bold;
        width: 13rem;

        .icon {
            display: flex;
            align-items: center;
            margin-right: 8px;
        }

        .text {
            // margin-right: 8px;
        }

        .status-dot {
            width: 12px;
            height: 12px;
            background-color: #20c997;
            border-radius: 50%;
        }

        lottie-player {
            width: 24px;
            height: 24px;
            // margin: auto;
        }
    }



}